.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 95vh;
}
.btn_kakao {
  border: none;
  background-color: #fbe400;
  width: 300px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -30px;
}
.logo_kakao {
  width: 25px;
  margin-bottom: -8px;
  margin-right: 10px;
}

.btn_github {
  color: #000;
  background-color: #fff;
  width: 300px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
}
.logo_github {
  width: 30px;
  margin-bottom: -8px;
  margin-right: 10px;
}
.btn_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 13vh;
}
.logo_poorm {
  width: 30vw;
  height: 40vh;
}
.login_title {
  width: 25vw;
  margin-left: -170px;
  margin-bottom: 100px;
}
.login_footer {
  background-color: #000;
  height: 5vh;
}
