.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 95vh;
}
.btn-kakao {
  border: none;
  background-color: #fee501;
  width: 25vw;
  height: 5vh;
  border-radius: 5px;
  cursor: pointer;
}
.logo-kakao {
  width: 25px;
  margin-bottom: -8px;
  margin-right: 10px;
}
.btn-github {
  color: #000;
  background-color: #fff;
  width: 25vw;
  height: 5vh;
  border-radius: 5px;
  cursor: pointer;
}
.logo-github {
  width: 30px;
  margin-bottom: -8px;
  margin-right: 10px;
}
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 13vh;
}
.login-title {
  width: 25vw;
  font-size: 7rem;
  text-align: center;
}
.login-footer {
  background-color: #000;
  height: 5vh;
}
