.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
.logoContainer {
  height: fit-content;
}
.logo_poorm {
  width: 15rem;
  margin: 0 auto;
}
.btn_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 300px;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  color: black;
  border: 1px solid #e6e6e6;
}
.kakaoButton {
  border: none;
  background-color: #fbe400;
}
.githubButton {
  background-color: #fff;
}
.loginLogo {
  width: 25px;
}

.login_footer {
  position: fixed;
  bottom: 0;
  background-color: #000;
  width: 100vw;
  height: 5vh;
}
