* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.body {
  display: flex;
  flex: 1;
  overflow-y: auto;
}
.user_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1rem;
  padding: 1rem 3rem;
  overflow-y: auto;
}
.user_info {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}
.user_profile {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.user_text {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.user_name {
  font-size: 1.25rem;
}
.mylists_label {
  margin-bottom: 1rem;
  color: #6a6a6a;
}
.mylists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.detail_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
  max-width: 35vw;
  border-left: 1px solid rgba(64, 62, 63, 0.2);
}
