.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 300px;
  padding: 0.8rem;
  background-color: var(--color-primary-variant);
  border-radius: 0.6rem;
  transition: box-shadow 0.3s ease;
}
.container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.title {
  flex: 1;
  font-size: 1.05rem;
  color: var(--color-darkgray);
  margin-bottom: 0.9rem;
}
.itemContainer {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
}
.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  color: var(--color-text);
  font-size: 0.9rem;
}
.link {
  color: var(--color-text);
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
