.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  z-index: 1000;
  width: 100vw;
  height: 60px;
  background-color: var(--color-darkgray);
}
.logo_icon {
  height: 35px;
  cursor: pointer;
}
.button_container {
  display: flex;
  gap: 1rem;
}
.mypage_img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 100%;
}
.logout_button {
  background-color: transparent;
  color: var(--color-white);
  cursor: pointer;
}
.logout_icon {
  font-size: 1.5rem;
}
