.wrapper {
  max-width: 60vw;
  margin: auto;
  position: relative;
}

.search_bar {
  max-width: 650px;
  margin: auto;
  display: flex;
}

.sort_standard {
  padding-top: 15px;
  max-width: 600px;
  margin: auto;

  position: relative;
}

.sort_state {
  max-width: 100px;
  position: absolute;
  left: 130px;
}

.sort_level {
  max-width: 100px;
}

.proplem_table_container {
  margin-top: 20px;
  position: absolute;
}

.problem_title {
  color: black;
  text-decoration: none;
}

.list_box {
  margin-left: 5px;
  padding: 2px;
  border-radius: 5px;
  background-color: rgba(156, 202, 255, 0.479);
}

.OText {
  font-weight: bold;
  color: green;
}

.XText {
  font-weight: bold;
  color: red;
}

.lv0 {
  font-weight: bold;
  color: skyblue;
}

.lv1 {
  font-weight: bold;
  color: rgb(255, 155, 5);
}

.lv2 {
  font-weight: bold;
  color: rgb(111, 0, 255);
}
