.container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 1500px;
}
.searchFilter_container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}
.searchbar {
  flex: 1;
}
.filter_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 350px;
}

.table_container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}
.problem_title {
  color: black;
  text-decoration: none;
}

.list_box {
  margin-left: 5px;
  padding: 2px;
  border-radius: 5px;
  background-color: rgba(156, 202, 255, 0.479);
}

.OText {
  font-weight: bold;
  color: var(--color-green);
}

.XText {
  font-weight: bold;
  color: var(--color-red);
}

.lv0 {
  font-weight: bold;
  color: var(--color-level0);
}

.lv1 {
  font-weight: bold;
  color: var(--color-level1);
}

.lv2 {
  font-weight: bold;
  color: var(--color-level2);
}
