.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.8rem;
  border-radius: 0.6rem;
  background-color: var(--color-lightblue);
}
.label {
  font-size: 0.7rem;
  color: var(--color-darkgray);
}
.form {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.input {
  flex: 1;
  padding: 0.3rem 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}
.submit {
  background-color: transparent;
  font-size: 1.5rem;
}
