.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  min-width: 25vw;
  height: 100vh;
  background-color: var(--color-primary);
  padding: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.label {
  font-size: 1.3rem;
}
.closeButton {
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: bold;
}
.lists {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.7rem;
  overflow-y: auto;
}
.addContainer {
  display: flex;
  margin-top: 0.5rem;
}
.addButton {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-accent);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: bold;
}
