.container {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin-top: 1rem;
}
.container::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--color-darkgray);
  opacity: 0.2;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.label {
  font-size: 0.7rem;
  font-weight: bold;
  color: #6a6a6a;
}
.contents {
  font-size: 0.9rem;
  white-space: pre-wrap;
  color: var(--color-darkgray);
}
