.input_wrapper {
  background-color: white;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.text_editor {
  max-height: 150px;
  min-width: 100vh;
  border: 1px solid gray;
}

.submit_btn {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 0 5px 5px 0;
}

.submit_btn:active {
  background-color: rgba(128, 128, 128, 0.6);
}

button.is-active {
  background-color: rgb(197, 197, 197);
  border-radius: 2px;
}
