.input_wrapper {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  display: flex;
}

.text_editor {
  max-height: 150px;
  width: 430px;
  border: 2px solid gray;
  border-radius: 5px;
}

.submit_btn {
  width: 70px;
  cursor: pointer;
  border: 2px solid gray;
  border-radius: 0 0 5px 0;
}

.submit_btn:active {
  background-color: rgba(128, 128, 128, 0.6);
}

button.is-active {
  background-color: rgb(197, 197, 197);
}
