body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-primary: #ffffff; /* 주 배경색 */
  --color-primary-accent: #f4f4f4; /* 주 배경색2 */
  --color-accent: #2793f2; /* 포인트 색 */
  --color-lightgray: #f4f4f4; /* 밝은회색 */
  --color-darkgray: #403e3f; /* 어두운회색: 선 */
  --color-text: #000000; /* 글자 색 */
  --color-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}
