body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  z-index: 10000000;
}

:root {
  /* App Colors */
  --color-primary: #ffffff;
  --color-primary-variant: #f4f4f4;
  --color-accent: #2793f2;
  --color-level0: var(--color-blue);
  --color-level1: var(--color-skyblue);
  --color-level2: var(--color-green);
  --color-level3: var(--color-orange);
  --color-level4: var(--color-red);
  --color-level5: var(--color-purple);
  --color-error: #ba1a1a;
  /* Colors */
  --color-lightgray: #f4f4f4;
  --color-darkgray: #403e3f;
  --color-text: #000000;
  --color-white: #ffffff;
  --color-blue: blue;
  --color-skyblue: skyblue;
  --color-lightblue: #bbd6ff;
  --color-green: green;
  --color-orange: oragne;
  --color-red: red;
  --color-purple: purple;
}

* {
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
